doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/2.5.0/angular-file-upload.min.js')
    script(src='/javascripts/fileupload.js')
  body(ng-app="fileUpload",ng-controller="upload_img")
    input(type='file', ng-file-model='files', multiple='')
    button(type='button', ng-click='upload()') Upload
    